.mailView {
  background-color: white;
  grid-area: mailView;
  max-width: 100%;
}
.mailTitle {
  border-bottom: 2px solid lightgray;
}
.mailHeader {
  border-bottom: 2px solid lightgray;
  height: 40px;

  display: flex;
}
.senderContainer {
  max-width: 30px;
  max-height: 30px;
}
.senderContainer img {
  width: 100%;
  height: 100%;
  margin: 5px;
}
.senderInfo {
  margin-left: 10px;
}
.sendeDate {
  margin-left: 60%;
}
.mailOptions {
  border-bottom: 2px solid lightgray;
  display: flex;
}
.mailOptions div img {
  max-width: 10px;
  max-height: 10px;
}
.firstOptions {
  margin-right: 600px;
}
.MailBody {
  max-width: 1000px;
  background-color: lightgray;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
